.container-fluid {
    padding: 0;
}

.all-sections {
    padding: 3%;
}

.section {
    margin-bottom: 10%;
}

.hello {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
    color: white;
    margin-top: 1%;
}

.icons {
    margin: 1%;
    margin-inline: 3%;
    cursor: pointer;
}