.heading {
    color: white;
}

.career-card {
    background-color: gray;
    border-radius: 24px;
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}

.skill:hover {
    background-color: darkgray;
}

.company {
    text-decoration: underline;
}