.heading-skills {
    margin: 5%;
    color: white;
}

.heading-experience {
    margin: 2%;
    color: white;
}

.body-experience {
    padding: 1%;
    padding-left: 2%;
    margin: 0;
}

.skills {
    background-color: gray;
    border-radius: 24px;
    padding: 0;
}

.skill {
    padding: 1%;
    padding-left: 5%;
    margin: 0;
}

.skill-last {
    margin-bottom: 6%;
}

.skill:hover {
    background-color: darkgray;
}

.experience {
    background-color: gray;
    border-radius: 24px;
    padding: 0;
}

.company {
    text-decoration: underline;
}